.filter {
  padding: 16px;
  font-size: 12px;
  width: 130px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.che-i {
  margin-left: 8px;
}

.ul {
  padding: 12px;
  border-radius: 14px;
}

.ul-none {
  display: none;
}

.ul-block {
  display: block;
}

.li {
  list-style: none;
  text-align: center;
  font-size: 13px;
  margin: 8px;
  cursor: pointer;
}

.o {
  border-radius: 4px;
}

@media screen and (min-width: 770px) {
  .div-selec {
    border: none;
    outline: none;
    position: absolute;
    right: 32px;
    top: 90px;
    font-size: 13px;
  }
}
@media screen and (max-width: 770px) {
  .div-selec {
    text-align: center;
    margin: auto;
    width: 89%;

  }
  .filter {
    margin: auto;
    width: 94%;
  }
}
